@model Department

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h4 class="mb-4">Add Department</h4>

                <form method="post">
                    <div class="mb-3">
                        <input asp-for="DepartmentName" type="text" class="form-control text-white">
                        <span asp-validation-for="DepartmentName"></span>

                    </div>

                    <button type="submit" class="btn btn-dark">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>